<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <navbar>
        <nav><a href="{% url 'social:allposts' %}"> SOCIAL</a></nav>
        <nav><a href="{% url 'blog:blog' %}"> HOME</a></nav>
        <nav><a href="{% url 'account_login' %}">LOGIN</a></nav>
        <nav><a href="{% url 'account_logout' %}">LOGOUT</a></nav>
        <nav><a href="{% url 'account_signup' %}">SIGNUP</a></nav>
    </navbar>
    {% block body_block %}
    {% endblock %}
</body>

</html>